cred.bin
fdo-client
*.log
test.db
fdo-di-client
voucher-push-receiver
fdo-manufacturing-station
advanced-voucher-recipient

# Build artifacts
fdo-manufacturing-station*
voucher-push-receiver

# Runtime data
data/
*.db
